<head>
<link rel="stylesheet" href="../css/menu.css">
<script type="text/javascript" charset="utf-8"
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link href="../css/font-awesome.min.css" rel="stylesheet"></link>
</head>
<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<h1>Menú de opciones</h1>
				<div class="add-producto-wrapper">
					<br>
					<table class="recurso-centrado">
						<caption></caption>
						<tr>
							<th id="header-aniadir-producto">Añadir producto a Carreful</th>
						</tr>
					</table>
					<br>
					<div>
						<table class="recurso-centrado">
							<caption></caption>
							<tr>
								<th id="tabla-aniadir-producto"></th>
								<th id="espacio-antes-foto"></th>
								<th id="espacio-foto"></th>
							</tr>
							<tr>
								<td><label>Nombre del Producto</label><input
									class="input-texto" type="text" data-bind="value : nombre"
									placeholder="&quot Saco de patatas, 1kg &quot"></td>
								<td></td>
								<td rowspan="4"><br> <img
									data-bind="attr: {src: imagenBuscada}" width="200px"
									height="200px" alt="Imagen del nuevo producto"></td>
							</tr>
							<tr>
								<td><br> <label>Categoría</label> <details
										class="combobox-categorias">
										<summary class="radios">
											<input type="radio" name="item" id="default"
												title="Elegir categoría" checked> <input
												data-bind="checked: categoria" value="El Mercado"
												type="radio" name="item" id="item1" title="El Mercado">
											<input data-bind="checked: categoria" value="La Despensa"
												type="radio" name="item" id="item2" title="La Despensa">
											<input data-bind="checked: categoria" value="Mascotas"
												type="radio" name="item" id="item3" title="Mascotas">
											<input data-bind="checked: categoria" value="Parafarmacia"
												type="radio" name="item" id="item4" title="Parafarmacia">
											<input data-bind="checked: categoria" value="Bebidas"
												type="radio" name="item" id="item5" title="Bebidas">
											<input data-bind="checked: categoria"
												value="Perfumería e Higiene" type="radio" name="item"
												id="item6" title="Perfumería e Higiene">
										</summary>
										<ul class="list">
											<li><label for="item1">El Mercado</label></li>
											<li><label for="item2">La Despensa</label></li>
											<li><label for="item3">Mascotas</label></li>
											<li><label for="item4">Parafarmacia</label></li>
											<li><label for="item5">Bebidas</label></li>
											<li><label for="item6">Perfumería e Higiene</label></li>
										</ul>
									</details></td>
								<td class="padding-entre-columnas"><br></td>
							</tr>
							<tr>
								<td><br> <label>Precio</label><input
									class="input-texto" type="text" data-bind="value : precio"
									placeholder="1.5"> €</td>
							</tr>
							<tr>
								<td><br> <label class="checkbox-congelado"> <input
										type="checkbox" value="congelado" id="congelado"
										name="congelado" data-bind="checked: congelado">
										Congelado <i class="fa fa-snowflake-o" aria-hidden="true"></i>
								</label></td>
							</tr>
							<tr>
								<td><br>
									<button class="boton-buscar-imagen"
										data-bind="click : buscarImagen">
										<i class="fa fa-search" aria-hidden="true"></i> Buscar imagen
									</button></td>
								<td></td>
								<td class="padding-entre-columnas"></td>
							</tr>
							<tr>
								<td><br>
									<button class="boton-guardar-producto" data-bind="click : add">Guardar
										producto</button></td>
								<td></td>

								<td class="padding-entre-columnas"></td>
							</tr>
						</table>
						<div data-bind="html : message" style="color: blue"></div>
						<div data-bind="html : error" style="color: red"></div>
					</div>
				</div>

				<br>
				<hr>
				<br>

				<div class="add-producto-wrapper">
					<br>
					<table class="recurso-centrado">
						<caption></caption>
						<tr>
							<th id="header-boton-productos">
								<button class="boton-buscar-imagen"
									data-bind="click : listarProductos">Listado Productos</button>
							</th>
							<th id="header-boton-pedidos"><button
									class="boton-buscar-imagen" data-bind="click : listarPedidos">Listado
									Pedidos</button></th>
						</tr>
					</table>
					<br>
					<hr>
					<br>

					<div data-bind="if : listadoProductos">
						<table class="tabla-producto-pedido">
							<caption></caption>
							<tr class="tr-producto-pedido">
								<th class="td-th-producto-pedido" id="columna-nombre">Nombre</th>
								<th class="td-th-producto-pedido" id="columna-precio">Precio</th>
								<th class="td-th-producto-pedido" id="columna-stock">Stock</th>
								<th class="td-th-producto-pedido" id="columna-boton-editar">Editar
									stock</th>
								<th class="td-th-producto-pedido" id="columna-boton-eliminar"></th>
							</tr>
							<!-- ko foreach : productos -->
							<tr class="tr-producto-pedido">
								<td class="td-th-producto-pedido" data-bind="html : nombre"></td>
								<td class="td-th-producto-pedido" data-bind="html : precio"></td>
								<td class="td-th-producto-pedido"><input
									class="input-stock" id="input-stock" type="text" data-bind="textInput : stock"></td>
								<td class="td-th-producto-pedido">
									<button class="boton-editar-stock-producto"
										data-bind="click : function() { $parent.editarStockProducto(nombre, stock); }">
										<em class="fa fa-pencil fa-lg"></em>
									</button>
								</td>
								<td class="td-th-producto-pedido">
									<button class="boton-borrar-del-carrito"
										data-bind="click : function() { $parent.eliminarProducto(nombre); }">
										<em class="fa fa-trash-o fa-lg"></em>
									</button>
								</td>
							</tr>
							<!-- /ko -->
						</table>
					</div>

					<div data-bind="if : listadoPedidos">
						<table class="tabla-producto-pedido">
							<caption></caption>
							<tr class="tr-producto-pedido">
								<th class="td-th-producto-pedido" id="columna-nombre">Id
									Pedido</th>
								<th class="td-th-producto-pedido" id="columna-precio">Nombre</th>
								<th class="td-th-producto-pedido" id="columna-apellidos">Apellidos</th>
								<th class="td-th-producto-pedido" id="columna-email">Email</th>
								<th class="td-th-producto-pedido" id="columna-estado">Estado
									del Pedido</th>
								<th class="td-th-producto-pedido" id="columna-boton-actualizar"></th>
							</tr>
							<!-- ko foreach : pedidos -->
							<tr class="tr-producto-pedido">
								<td class="td-th-producto-pedido" data-bind="html : idPedido"></td>
								<td class="td-th-producto-pedido" data-bind="html : nombre"></td>
								<td class="td-th-producto-pedido" data-bind="html : apellidos"></td>
								<td class="td-th-producto-pedido" data-bind="html : email"></td>
								<td class="td-th-producto-pedido" data-bind="html : estado"></td>
								<td class="td-th-producto-pedido">
									<button class="boton-actualizar-estado"
										data-bind="click : function() { $parent.actualizarEstadoPedido(idPedido); }">
										<em class="fa fa-share"></em> Actualizar estado
									</button>
								</td>
							</tr>
							<!-- /ko -->
						</table>
					</div>

					<!-- Button to go up the page -->
					<button class="btn-go-top" onclick="topFunction()" id="myBtn"
						title="Go to top">
						<i class="fa fa-arrow-up" aria-hidden="true"></i>
					</button>
				</div>
				<script>
					//Get the button
					var mybutton = document.getElementById("myBtn");

					// When the user scrolls down 20px from the top of the document, show the button
					window.onscroll = function() {
						scrollFunction()
					};

					function scrollFunction() {
						if (document.body.scrollTop > 20
								|| document.documentElement.scrollTop > 20) {
							mybutton.style.display = "block";
						} else {
							mybutton.style.display = "none";
						}
					}

					// When the user clicks on the button, scroll to the top of the document
					function topFunction() {
						document.body.scrollTop = 0;
						document.documentElement.scrollTop = 0;
					}
				</script>
			</div>
		</div>
	</div>
</div>