<head>
<link rel="stylesheet" href="../css/payment.css">
<link href="../css/font-awesome.min.css" rel="stylesheet"></link>
</head>
<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<div class="oj-flex contenedor">

					<section class="order-form my-4 mx-4">
						<div class="col-75">
							<div class="container">
								<form action="/action_page.php">

									<div class="row">
										<div class="col-50">
											<h3>Detalles de Facturación</h3>
											<hr>
											<strong class="datos-contacto">Datos de Contacto</strong> <br> <br>
											<div class="nombre-completo col-12 mb-2">
												<label for="fname"><em class="fa fa-user"></em> Nombre
													Completo</label>
												<table style="width: 100%">
													<caption></caption>
													<tr> <th id="header-detalles-facturacion"> </th> </tr>
													<tr>
														<td>
															<div class="col-12 col-sm-6">
																<input class="order-form-input"
																	data-bind="value : nombre" placeholder="Nombre">
															</div> <br>
														</td>
														<td class="padding-entre-columnas">
															<div class="col-12 col-sm-6 mt-2 mt-sm-0">
																<input class="order-form-input"
																	data-bind="value : apellidos" placeholder="Apellidos">
															</div> <br>
														</td>
													</tr>
													<tr>
														<td>
															<div class="email col-12 mb-2">
																<label for="email"><em class="fa fa-envelope"></em>
																	Correo electrónico</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="value : email" placeholder="email@email.com">
																</div>
															</div>
														</td>
														<td class="padding-entre-columnas">
															<div class="telefono-movil col-12 mb-2">
																<label for="telefono-movil"><em
																	class="fa fa-mobile"></em> Teléfono Móvil</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="value : telefonoMovil"
																		placeholder="(777 777 777)">
																</div>
															</div>
														</td>
													</tr>
												</table>
											</div>
											<br>
											<hr>
											<br> <strong class="datos-contacto">Dirección de Entrega</strong>
											<br> <br>
											<div class="nombre-completo col-12 mb-2">
												<label for="fname"><i class="fa fa-map-marker"
													aria-hidden="true"></i> Dirección</label>
												<table class="direccion-entrega" style="width: 100%">
													<caption></caption>
													<tr> <th id="header-direccion"> </th> </tr>
													<tr>
														<td>
															<div class="col-12 col-sm-6">
																<input class="order-form-input"
																	data-bind="value : direccion"
																	placeholder="Calle, número, piso, puerta.">
															</div> <br>
														</td>
													</tr>
													<tr>
														<td>
															<div class="email col-12 mb-2">
																<label for="fname"><em class="fa fa-institution"></em>
																	Ciudad</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="value : ciudad" placeholder="Ciudad">
																</div>
																<br>
															</div>
														</td>
														<td class="padding-entre-columnas">
															<div class="telefono-movil col-12 mb-2">
																<label for="fname">Provincia</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="value : provincia" placeholder="Provincia">
																</div>
															</div> <br>
														</td>
													</tr>
													<tr>
														<td>
															<div class="email col-12 mb-2">
																<label for="fname">Código Postal</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="value : codigoPostal" placeholder="15005">
																</div>
															</div>
														</td>
														<td class="padding-entre-columnas">
															<div class="telefono-movil col-12 mb-2">
																<label for="fname">País</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input" data-bind="value : pais"
																		placeholder="España">
																</div>
															</div>
														</td>
													</tr>
												</table>
											</div>
											<br>
											<hr>
										</div>
										<div class="col-50">
											<h3>Pago</h3>
											<table>
												<caption></caption>
												<tr> <th id="header-tarjetas"> </th> </tr>
												<tr>
													<td><label for="fname">Tarjetas aceptadas</label></td>
													<td class="padding-entre-columnas">
														<div class="iconos-tarjetas">
															<em class="fa fa-cc-visa" style="color: navy;"></em> <em
																class="fa fa-cc-paypal" style="color: blue;"></em> <em
																class="fa fa-cc-mastercard" style="color: red;"></em> <em
																class="fa fa-cc-discover" style="color: orange;"></em>
														</div>
													</td>
												</tr>
											</table>

										</div>
									</div>
									<br>
								</form>
								<!-- Display a payment form -->
								<form id="payment-form">
									<div id="card-element">
										<!--Stripe.js injects the Card Element-->
									</div>
									<br><hr>
									<br>
									<h4>Opciones de envío</h4>
									<div class="radio-pedidos">
										<label class="radio-pedidos">Envío a domicilio <input
											type="radio" name="radio"
											id="pedidos-domicilio" data-bind="event: { change: $data.getGastosDeEnvio}"> 
											<span class="checkmark"></span>
										</label> <label class="radio-pedidos">Envío a domicilio
											express <input type="radio" name="radio"
											id="pedidos-domicilio-express" data-bind="event: { change: $data.getGastosDeEnvio}"> 
											<span class="checkmark"></span>
										</label> <label class="radio-pedidos">Recogida en tienda <input
											type="radio" name="radio" id="pedidos-recogida" data-bind="event: { change: $data.getGastosDeEnvio}"> 
											<span class="checkmark"></span>
										</label>
									</div>
									<br>
									<hr>
									<br> <label> <input type="checkbox"> La
										dirección de envío es la misma que la de facturación
									</label> <label> <input type="checkbox"> He leído y
										estoy de acuerdo con los términos y condiciones de la web
									</label><br>
									<button class="btn-block btn-realizar-pedido" >
										<span id="checkout">Realizar el pedido</span>
									</button>
									<p id="card-error" role="alert"></p>
								</form>
							</div>
						</div>
					</section>

					<div class="col-25-carrito">
						<div class="carrito-wrapper">
							<h4>
								Carrito<span style="color: black"> <em
									class="fa fa-shopping-cart"></em></span>
							</h4>
							<table>
								<caption></caption>
								<tr>
									<th id="productos">Producto</th>
									<th id="unidades">Uds.</th>
									<th id="precio-unidad">€/ud.</th>
								</tr>
								<!-- ko foreach : carrito -->
								<tr>
									<td data-bind="html : name"></td>
									<td class="padding-entre-columnas"
										data-bind="html : amount"></td>
									<td><span class="price"> €</span><span
										class="price" data-bind="html : priceXAmount"></span></td>
								</tr>
								<tr>
									<td><br></td>
								</tr>
								<!-- /ko -->
							</table>
							<br>
							<hr>
							<table class="tabla-envios" style="width: 400px">
								<caption></caption>
								<tr> <th id="header-envio"> </th> </tr>
								<tr>
									<td><strong> Gastos de envío <span class="price"
											style="color: black"></span>
									</strong></td>
									<td><strong class="importe-envio"
										data-bind="html : gastosEnvio"></strong></td>
								</tr>
							</table>
							<br>
							<hr>
							<table class="tabla-precio-total-carrito" style="width: 400px">
								<caption></caption>
								<tr> <th id="header-precio-total"> </th> </tr>
								<tr>
									<td><strong> Precio Total <span class="price"
											style="color: black"></span>
									</strong></td>
									<td><strong class="importe-total"
										data-bind="html: importe"></strong></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>