<head>
<link rel="stylesheet" href="../css/payment.css">
<link href="../css/font-awesome.min.css" rel="stylesheet"></link>
<!-- <script type="text/javascript" src="../viewModels/product.js"></script> -->
</head>
<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<div class="oj-flex contenedor">

					<section class="order-form my-4 mx-4">
						<div class="container pt-4">

							<div class="row">
								<div class="col-12">
									<h4>Detalles de Facturación</h4>
									<hr class="mt-1">
								</div>
								<div class="col-12">

									<div class="row mx-4">
										<div class="col-12 mb-2">
											<label class="order-form-label">Nombre Completo</label>
										</div>
										<div class="col-12 col-sm-6">
											<input class="order-form-input" placeholder="Nombre">
										</div>
										<div class="col-12 col-sm-6 mt-2 mt-sm-0">
											<input class="order-form-input" placeholder="Apellidos">
										</div>
										<br>
										<div class="col-12 mb-2">
											<label class="order-form-label">Datos de Contacto</label>
										</div>
										<div class="col-12 col-sm-6 mt-2 mt-sm-0">
											<input class="order-form-input" placeholder="Email">
										</div>
										<div class="col-12 col-sm-6 mt-2 mt-sm-0">
											<input class="order-form-input" placeholder="Teléfono Móvil">
										</div>
									</div>
									<br>
									<div class="row mt-3 mx-4">
										<div class="col-12">
											<label class="order-form-label">Dirección</label>
										</div>
										<div class="col-12">
											<input class="order-form-input"
												placeholder="Calle, número, piso, puerta.">
										</div>
										<div class="col-12 col-sm-6 mt-2 pr-sm-2">
											<input class="order-form-input" placeholder="Ciudad">
										</div>
										<div class="col-12 col-sm-6 mt-2 pl-sm-0">
											<input class="order-form-input" placeholder="Provincia">
										</div>
										<div class="col-12 col-sm-6 mt-2 pr-sm-2">
											<input class="order-form-input" placeholder="Código Postal">
										</div>
										<div class="col-12 col-sm-6 mt-2 pl-sm-0">
											<input class="order-form-input" placeholder="País">
										</div>
									</div>
									<div class="row mt-3 mx-4">
										<div class="col-12">
											<div class="form-check">
												<input type="checkbox" class="form-check-input"
													name="validation" id="validation" value="1"> <label
													for="validation" class="form-check-label">La
													dirección de envío es la misma que la de facturación</label>
											</div>
										</div>
									</div>
									<br>
									<div class="row mt-3 mx-4">
										<div class="col-12">
											<div class="form-check">
												<input type="checkbox" class="form-check-input"
													name="validation" id="validation" value="1"> <label
													for="validation" class="form-check-label">He leído
													y estoy de acuerdo con los términos y condiciones de la web</label>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</section>

					<!-- Display a payment form -->
					<form id="payment-form">
						<div id="card-element">
							<!--Stripe.js injects the Card Element-->
						</div>
						<button class="btn-block btn-blue">
							<span> <span id="checkout">Pagar</span>
						</button>
						<p id="card-error" role="alert"></p>
						<p class="result-message hidden">
							Payment succeeded, see the result in your <a href=""
								target="_blank">Stripe dashboard.</a> Refresh the page to pay
							again.
						</p>
					</form>

					<div class="col-25-carrito">
						<div class="carrito-wrapper">
							<h4>
								Carrito<span style="color: black"> <i
									class="fa fa-shopping-cart"></i></span>
							</h4>
							<table>
								<tr>
									<th>Producto</th>
									<th>Unidades</th>
									<th>Precio/unidad</th>
								</tr>
								<!-- ko foreach : carrito -->
								<tr>
									<td data-bind="html : name"></td>
									<td align="center" data-bind="html : amount"></td>
									<td align="center"><span class="price"
										data-bind="html : priceXAmount"></span> <span class="price">
											€</span></td>
								</tr> 
								<tr>
									<td><br></td>
								</tr>
								<!-- /ko -->
							</table> <br>
							<hr>
							<table class="tabla-precio-total-carrito" style="width:400px">
								<tr>
									<td width=75%>
										<b>
											Precio Total <span class="price" style="color: black"></span>
										</b>
									</td>
									<td width=25% align="right">
										<b class="importe-total" data-bind="html: importe"></b>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!-- 
				<div id="carrito-wrapper">
					<table>
						<tr>
							<th>Unidades</th>
							<th>Producto</th>
						</tr>
						<!-- ko foreach : carrito -->
				<!-- 
						<tr>
							<td data-bind="html : amount"></td>
							<td data-bind="html : name"></td>
						</tr>
						<!-- /ko -->
				<!-- 
					</table>
					<!-- ko if : importe -->
				<!-- 
					<div>Importe del pedido:</div>
					<div data-bind="html: importe"></div>
					<!-- /ko -->
			</div>
		</div>
	</div>
</div>
</div>
</div>