<head>
<link rel="stylesheet" href="../css/payment.css">
<link href="../css/font-awesome.min.css" rel="stylesheet"></link>
</head>
<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<div class="oj-flex contenedor">

					<section class="order-form my-4 mx-4">
						<div class="col-75">
							<div class="container">
								<form action="/action_page.php">

									<div class="row">
										<div class="col-50">
											<h3>Detalles de Facturación</h3>
											<hr>
											<strong class="datos-contacto">Datos de Contacto</strong> <br>
											<br>
											<div class="nombre-completo col-12 mb-2">
												<label for="fname"><em class="fa fa-user"></em>
													Nombre Completo</label>
												<table style="width: 100%">
													<caption></caption>
													<tr>
														<th id="header-detalles-faturacion"></th>
													</tr>
													<tr>
														<td>
															<div class="col-12 col-sm-6">
																<input class="order-form-input"
																	data-bind="textInput : nombre" disabled>
															</div> <br>
														</td>
														<td class="padding-entre-columnas">
															<div class="col-12 col-sm-6 mt-2 mt-sm-0">
																<input class="order-form-input"
																	data-bind="textInput : apellidos" disabled>
															</div> <br>
														</td>
													</tr>
													<tr>
														<td>
															<div class="email col-12 mb-2">
																<label for="email"><em class="fa fa-envelope"></em>
																	Correo electrónico</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="textInput : email" disabled>
																</div>
															</div>
														</td>
														<td class="padding-entre-columnas">
															<div class="telefono-movil col-12 mb-2">
																<label for="telefono-movil"><em
																	class="fa fa-mobile"></em> Teléfono Móvil</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="textInput : telefonoMovil" disabled>
																</div>
															</div>
														</td>
													</tr>
												</table>
											</div>
											<br>
											<hr>
											<br> <strong class="datos-contacto">Dirección
												de Entrega</strong> <br> <br>
											<div class="nombre-completo col-12 mb-2">
												<label for="fname"><i class="fa fa-map-marker"
													aria-hidden="true"></i> Dirección</label>
												<table class="direccion-entrega" style="width: 100%">
													<caption></caption>
													<tr>
														<th id="header-direccion"></th>
													</tr>
													<tr>
														<td>
															<div class="col-12 col-sm-6">
																<input class="order-form-input"
																	data-bind="textInput : direccion" disabled>
															</div> <br>
														</td>
													</tr>
													<tr>
														<td>
															<div class="email col-12 mb-2">
																<label for="fname"><em class="fa fa-institution"></em>
																	Ciudad</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="textInput : ciudad" disabled>
																</div>
																<br>
															</div>
														</td>
														<td class="padding-entre-columnas">
															<div class="telefono-movil col-12 mb-2">
																<label for="fname">Provincia</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="textInput : provincia" disabled>
																</div>
															</div> <br>
														</td>
													</tr>
													<tr>
														<td>
															<div class="email col-12 mb-2">
																<label for="fname">Código Postal</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="textInput : codigoPostal" disabled>
																</div>
															</div>
														</td>
														<td class="padding-entre-columnas">
															<div class="telefono-movil col-12 mb-2">
																<label for="fname">País</label>
																<div class="col-12 col-sm-6">
																	<input class="order-form-input"
																		data-bind="textInput : pais" disabled>
																</div>
															</div>
														</td>
													</tr>
												</table>
											</div>
											<br>
										</div>
										<br>
								</form>
							</div>
						</div>
					</section>

					<div class="col-25-carrito">
						<div class="carrito-wrapper">
							<h4>
								Pedido <span style="color: black"> <em
									class="fa fa-truck"></em></span>
							</h4>
							<table>
								<caption></caption>
								<tr>
									<th id="productos">Producto</th>
									<th id="unidades">Uds.</th>
									<th id="precio-unidad">€/ud.</th>
								</tr>
								<!-- ko foreach : orderedProducts -->
								<tr>
									<td data-bind="html : name"></td>
									<td class="padding-entre-columnas" data-bind="html : amount"></td>
									<td><span class="price"> €</span><span class="price"
										data-bind="html : priceXAmount"></span></td>
								</tr>
								<tr>
									<td><br></td>
								</tr>
								<!-- /ko -->
							</table>
							<br>
							<hr>
							<table class="tabla-precio-total-carrito" style="width: 100%">
								<caption></caption>
								<tr>
									<th id="header-precio-total"></th>
								</tr>
								<tr>
									<td><strong> Precio Total <span class="price"
											style="color: black"></span>
									</strong></td>
									<td><strong class="importe-total"
										data-bind="html: precioPedido"></strong></td>
								</tr>
							</table>
						</div>
						<br>
						<div class="col-25-carrito">
							<div class="carrito-wrapper">
								<table>
									<caption></caption>
									<tr>
										<td><th id="header-estado-pedido">Estado del pedido: </th>
										</td>
										<td>
											<span style="color: black" data-bind="html : estadoPedido"></span>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>