<head>
<link href="../css/product.css" rel="stylesheet"></link>
</head>

<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
		<div class="oj-flex oj-web-applayout-content" id="categorias">
			<div class="oj-flex-item">
				<div id="contenedor-categorias">
					<!-- ko foreach : categorias -->
					<div class="categoria">
						<button
							data-bind="html : name, click : function() {$parent.getProductosPorCategoria(name);}">
						</button>
					</div>
					<!-- /ko -->
				</div>
			</div>
		</div>
	</div>
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<h1>Productos del Carreful</h1>
			<div class="oj-hybrid-padding" id="content-wrapper">
				<div id="products-wrapper">
					<ul id="products-list">
						<!-- ko foreach: productos -->
						<li class="product-list-item">
							<div class="product-card">
								<!-- <div class="product-card-content">  -->
								<br> <img data-bind="attr: {src: picture}" width="150px"
									height="150px"> <br> <b class="product-name"
									data-bind="html : nombre"></b> <br> <span class="price"
									data-bind="html : precio"></span> <span class="price"> €</span>
								<br> <br>
								<button
									data-bind="click : function() { $parent.addAlCarrito(nombre); }">
									Añadir al carrito</button>
							</div>
						</li>
						<!-- /ko -->
					</ul>
				</div>
				<div id="carrito-wrapper">
					<table>
						<tr>
							<th>Unidades</th>
							<th>Producto</th>
						</tr>
						<!-- ko foreach : carrito -->
						<tr> 
							<td data-bind="html : amount"></td>
							<td data-bind="html : name"></td>
							<td>
								<button
									data-bind="click : function() { $parent.eliminarDelCarrito(name); }">Quitar
									1 unidad</button>
							</td>
						</tr>
						<!-- /ko -->
					</table>
					<!-- ko if : importe -->
					<div>Importe del pedido:</div>
					<div data-bind="html: importe"></div>
					<!-- /ko -->
					
					<!-- End 
					<div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

						
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th scope="col" class="border-0 bg-light">
											<div class="p-2 px-3 text-uppercase">Product</div>
										</th>
										<th scope="col" class="border-0 bg-light">
											<div class="py-2 text-uppercase">Price</div>
										</th>
										<th scope="col" class="border-0 bg-light">
											<div class="py-2 text-uppercase">Quantity</div>
										</th>
										<th scope="col" class="border-0 bg-light">
											<div class="py-2 text-uppercase">Remove</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row" class="border-0">
											<div class="p-2">
												<img
													src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg"
													alt="" width="70" class="img-fluid rounded shadow-sm">
												<div class="ml-3 d-inline-block align-middle">
													<h5 class="mb-0">
														<a href="#" class="text-dark d-inline-block align-middle">Timex
															Unisex Originals</a>
													</h5>
													<span
														class="text-muted font-weight-normal font-italic d-block">Category:
														Watches</span>
												</div>
											</div>
										</th>
										<td class="border-0 align-middle"><strong>$79.00</strong></td>
										<td class="border-0 align-middle"><strong>3</strong></td>
										<td class="border-0 align-middle"><a href="#"
											class="text-dark"><i class="fa fa-trash"></i></a></td>
									</tr>
									<tr>
										<th scope="row">
											<div class="p-2">
												<img
													src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-3_cexmhn.jpg"
													alt="" width="70" class="img-fluid rounded shadow-sm">
												<div class="ml-3 d-inline-block align-middle">
													<h5 class="mb-0">
														<a href="#" class="text-dark d-inline-block">Lumix
															camera lense</a>
													</h5>
													<span class="text-muted font-weight-normal font-italic">Category:
														Electronics</span>
												</div>
											</div>
										</th>
										<td class="align-middle"><strong>$79.00</strong></td>
										<td class="align-middle"><strong>3</strong></td>
										<td class="align-middle"><a href="#" class="text-dark"><i
												class="fa fa-trash"></i></a></td>
									</tr>
									<tr>
										<th scope="row">
											<div class="p-2">
												<img
													src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-2_qxjis2.jpg"
													alt="" width="70" class="img-fluid rounded shadow-sm">
												<div class="ml-3 d-inline-block align-middle">
													<h5 class="mb-0">
														<a href="#" class="text-dark d-inline-block">Gray Nike
															running shoe</a>
													</h5>
													<span class="text-muted font-weight-normal font-italic">Category:
														Fashion</span>
												</div>
											</div>
										<td class="align-middle"><strong>$79.00</strong></td>
										<td class="align-middle"><strong>3</strong></td>
										<td class="align-middle"><a href="#" class="text-dark"><i
												class="fa fa-trash"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div> -->
				</div>

				<div>
					<div data-bind="html : message" style="color: blue" id="msg"></div>
					<div data-bind="html : error" style="color: red" id="error"></div>
				</div>
			</div>
		</div>
	</div>
</div>