<head>
<link href="../css/product.css" rel="stylesheet"></link>
<link href="../css/font-awesome.min.css" rel="stylesheet"></link>
</head>

<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
		<div class="oj-flex oj-web-applayout-content" id="categorias">
			<div class="oj-flex-item">
				<div id="contenedor-categorias">
					<!-- ko foreach : categorias -->
					<div class="categoria">
						<button class="btn-categoria"
							data-bind="html : name, click : function() {$parent.getProductosPorCategoria(name);}">
						</button>
					</div>
					<!-- /ko -->
				</div>
			</div>
		</div>
	</div>
	<br> <br>
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<br>
			<h1 class="titulo-productos">Productos del Carreful</h1>
			<div class="oj-hybrid-padding" id="content-wrapper">
				<div id="products-wrapper">
					<ul id="products-list">
						<!-- ko foreach: productos -->
						<li class="product-list-item">
							<div class="product-card">
								<!-- <div class="product-card-content">  -->
								<br> <img data-bind="attr: {src: picture}" width="150px"
									height="150px">
									<!-- ko if : congelado -->
										<i class="fa fa-snowflake-o" aria-hidden="true" style="display: inline;"></i>
									<!-- /ko -->  <br> <b class="product-name"
									data-bind="html : nombre"></b>
									
									<br> <span class="price"
									data-bind="html : precio"></span> <span class="price"> €</span>
								<br> <br>
								<button
									data-bind="click : function() { $parent.addUnidadDelCarrito(nombre); }">
									Añadir al carrito</button>
							</div>
						</li>
						<!-- /ko -->
					</ul>
				</div>
				<div id="carrito-wrapper">
					<table class="tabla-carrito" width="500">
						<tr>
							<th><h4>Producto</h4></th>
							<th><h4>Unidades</h4></th>
							<th></th>
						</tr>
						<!-- ko foreach : carrito -->
						<tr>
							<td width=65%>
								<div class="nombre-producto-carrito">
									<b class="mob-text" data-bind="html : name"></b>
								</div>
							</td>
							<td width=30%>
								<div class="cantidad-producto-carrito">
									<p data-bind="html : amount"></p>
								</div>
							</td>
							<td width=5%>
								<table class="botones-mas-menos">
									<tr>
										<td>
											<button class="mas-menos"
												data-bind="click : function() { $parent.addUnidadDelCarrito(name); }">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</td>
									</tr>
									<tr>
										<td>
											<button class="mas-menos"
												data-bind="click : function() { $parent.eliminarUnidadDelCarrito(name); }">
												<i class="fa fa-minus" aria-hidden="true"></i>
											</button>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<button class="boton-borrar-del-carrito"
									data-bind="click : function() { $parent.eliminarProductoDelCarrito(name); }">
									<i class="fa fa-trash-o fa-lg"></i>
								</button>
							</td>
						</tr>
						<!-- /ko -->
					</table>
					<br>

					<hr
						style="width: 100%; text-align: left; margin-left: 0; background-color: white">
					<br>
					<!-- ko if : importe -->
					<table class="tabla-carrito" style="width: 500px">
						<tr>
							<td width=65%>
								<h5>Importe total del pedido</h5>
							</td>
							<td width=35%>
								<h4 data-bind="html: importe"></h4>
							</td>
							<td width=5%></td>
						</tr>
					</table>
					<!-- /ko -->
					<br> <br>
					<table>
						<tr>
							<td><i class="fa fa-info-circle" aria-hidden="true"></i></td>
							<td>
								<div data-bind="html : message" style="color: black" id="msg"></div>
								<div data-bind="html : error" style="color: red" id="error"></div>
							</td>
						</tr>
					</table>
					<!-- Button to go up the page -->
					<button class="btn-go-top" onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
					<script>
						//Get the button
						var mybutton = document.getElementById("myBtn");

						// When the user scrolls down 20px from the top of the document, show the button
						window.onscroll = function() {
							scrollFunction()
						};

						function scrollFunction() {
							if (document.body.scrollTop > 20
									|| document.documentElement.scrollTop > 20) {
								mybutton.style.display = "block";
							} else {
								mybutton.style.display = "none";
							}
						}

						// When the user clicks on the button, scroll to the top of the document
						function topFunction() {
							document.body.scrollTop = 0;
							document.documentElement.scrollTop = 0;
						}
					</script>
				</div>
			</div>
		</div>
	</div>
</div>