<head>
<link rel="stylesheet" href="../css/setNewPassword.css">
</head>
<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<h1>Cambiar contraseña</h1>
				<br>
				<div class="set-new-password-wrapper">
					<table class="recurso-centrado">
						<caption></caption>
						<tr>
							<th id="header-email"></th>
							<th id="header-pwd1"></th>
							<th id="header-pwd2"></th>
						</tr>
						<tr>
							<td><br>
							<br>
							<label>Dirección de correo electrónico</label><br> <input
								class="input-texto" type="email"
								placeholder="Correo electrónico" data-bind="value : email"
								disabled></td>
							<td class="padding-entre-columnas"><br>
							<br>
							<label>Nueva contraseña</label><br> <input
								class="input-texto" type="password" placeholder="Contraseña"
								data-bind="value : newPwd1"> <br></td>
						</tr>
						<tr>
							<td><br>
							<br></td>
							<td class="padding-entre-columnas"><label>Confirmar
									nueva contraseña</label><br> <input class="input-texto"
								type="password" placeholder="Repite la contraseña"
								data-bind="value : newPwd2"><br>
							<br></td>
						</tr>
						<tr>
							<td><br></td>
						</tr>
						<tr>
							<td><br>
							<br></td>
							<td class="padding-entre-columnas">
								<button class="boton-set-new-password"
									data-bind="click : setNewPassword">Cambiar contraseña</button>
								<br>
							<br>
							</td>
						</tr>
					</table>
					<br>
					<div class="mensajes" data-bind="html : message"
						style="color: blue"></div>
					<div class="mensajes" data-bind="html : error" style="color: red">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>