@charset "ISO-8859-1";

#header-aniadir-producto {
	font-size: 25px;
}

.add-producto-wrapper {
	background-color: #ffffff;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.recurso-centrado {
	margin-left: auto;
	margin-right: auto;
}

.padding-entre-columnas {
	padding: 0 150px;
}

.boton-buscar-imagen {
	float: left;
	padding: 10px;
	background: lightblue;
	color: darkslategrey;
	font-size: 17px;
	border: 1px white;
	border-left: none;
	cursor: pointer;
	border-radius: 2px;
}

.boton-buscar-imagen:hover {
	background: #94c4d4;
}

.boton-guardar-producto {
	background-color: #673AB7;
	color: white;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
	margin-right: auto;
}

.boton-guardar-producto:hover {
	background-color: #7842d6;
	cursor: pointer;
}

.input-texto {
	width: 300px;
	height: 40px;
}

details {
	position: relative;
	width: 305px;
	margin-right: 1rem;
	border-radius: 3px;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: white;
	border-color: darkgrey;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: aliceblue;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */
summary.radios {
	counter-reset: radios;
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: block;
	cursor: pointer;
}