@charset "ISO-8859-1";

.oj-hybrid-applayout-content {
	background: #eecda3;
	background-image: linear-gradient(to bottom right, cornflowerblue, white);
}

.order-form .container {
	padding: 20px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.order-form-label {
	margin: 8px 0 0 0;
	font-size: 14px;
	font-weight: bold;
}

.order-form-input {
	width: 100%;
	padding: 8px 8px;
	border-width: 1px !important;
	border-style: solid !important;
	border-radius: 3px !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2em;
	background-color: transparent;
	border-color: #cccccc;
}

.padding-entre-columnas {
	padding: 0 30px;
}

.datos-contacto {
	font-size: 25px;
}

.col-25-carrito {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
}

.carrito-wrapper {
	background-color: #ffffff;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.direccion-entrega {
	flex: 1 1 0;
}

span.price {
	color: grey;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
	width: 1000px;
}

.col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
}

.col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
}

.col-25-carrito, .col-50, .col-75 {
	padding: 0 16px;
}

.container {
	background-color: #ffffff;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label {
	margin-bottom: 10px;
	display: block;
}

.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.btn-realizar-pedido {
	background-color: #673AB7;
	color: white;
	padding: 12px;
	margin: 10px 0;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

.btn-realizar-pedido:hover {
	background-color: #7842d6;
	cursor: pointer;
}

span.price {
	float: right;
	color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media ( max-width : 800px) {
	.row {
		flex-direction: column-reverse;
	}
	.col-25 {
		margin-bottom: 20px;
	}
}

.importe-total {
	text-align: right;
}

.tabla-precio-total-carrito {
	font-size: 23px;
}

.btn-submit:hover {
	background-color: #090909 !important;
}

/* Radio button pedidos container */
.radio-pedidos {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radio-pedidos input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

/* Grey background color */
.radio-pedidos input ~ .checkmark {
	background-color: grey;
}

/* When the radio button is checked, add a purple background */
.radio-pedidos input:checked ~ .checkmark {
	background-color: #8021f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-pedidos input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio-pedidos .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}