@charset "ISO-8859-1";

.oj-hybrid-applayout-content {
	background: #eecda3;
	background-image: linear-gradient(to bottom right, cornflowerblue, white);
}
.order-form .container {
	color: #4c4c4c;
	padding: 20px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.order-form-label {
	margin: 8px 0 0 0;
	font-size: 14px;
	font-weight: bold;
}

.order-form-input {
	width: 100%;
	padding: 8px 8px;
	border-width: 1px !important;
	border-style: solid !important;
	border-radius: 3px !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2em;
	background-color: transparent;
	border-color: #cccccc;
}

.col-25-carrito {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.carrito-wrapper {
  background-color: #ffffff;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

span.price {
  color: grey;
}

.importe-total{
	text-align: right;
}

.tabla-precio-total-carrito{
	font-size: 23px;
}

.btn-blue {
    border: none;
    border-radius: 10px;
    background-color: #673AB7;
    color: #fff;
    padding: 8px 15px;
    margin: 20px 0px;
    cursor: pointer
}

.btn-blue:hover {
    background-color: #311B92;
    color: #fff
}

.btn-submit:hover {
	background-color: #090909 !important;
}