.categoria {
	display: inline;
}

#categorias {
	width: 100%;
	text-align: center;
	background: mintcream;
	opacity: 0.90;
}

.titulo-productos {
	margin-left: 100px;
}

.oj-hybrid-applayout-content {
	background: #eecda3;
	background-image: linear-gradient(to bottom right, cornflowerblue, white);
}

#content-wrapper {
	display: flex;
}

#products-wrapper {
	display: flex;
	margin: 20px;
	max-width: 70%;
	justify-content: center;
	text-align: center;
}

#products-list {
	display: flex;
	flex-wrap: wrap;
}

#products-list li {
	list-style: none;
	flex: 0 0 33.333333%;
}

#carrito-wrapper {
	margin: 20px;
	text-align: center;
}

.mas-menos:hover{
	cursor: pointer;
}

.boton-borrar-del-carrito:hover{
	cursor: pointer;
}

.product-card {
	display: inline-block;
	border: 3px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	background: white;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: auto;
}

.product-name {
	height: 75px;
	width: 95%;
	display: inline-block;
}

.product-card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	bottom: 0;
}

.price {
	color: grey;
	font-size: 22px;
}

.product-card button:hover {
	opacity: 0.7;
}

.btn-categoria {
	color: #ffffff;
	background-color: #3f69b5;
	border: none;
	border-radius: 12px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.btn-categoria:hover {
	background-color: #4f85e8;
	opacity: 1;
	cursor: pointer;
}

.nombre-producto-carrito {
	text-align: left;
}

.cantidad-producto-carrito {
	font-size: 20px;
}

.mas-menos {
	border: none;
	border-radius: 5px;
	height: 25px;
	opacity: 0.95;
}

.boton-borrar-del-carrito {
	border: none;
	border-radius: 5px;
	background-color: red;
	color: white;
	height: 25px;
	opacity: 0.95;
}

.msg {
	color: black;
}

.error {
	color: red;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #8fed00;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}