@charset "ISO-8859-1";

#header-aniadir-producto {
	font-size: 25px;
}

.set-new-password-wrapper {
	background-color: #ffffff;
	padding: 5px 20px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.recurso-centrado {
	margin-left: auto;
	margin-right: auto;
}

.padding-entre-columnas {
	padding: 0 150px;
}

.input-texto {
	margin: 8px 0;
	width: 400px;
	height: 30px;
	font-size: 17px
}

.boton-set-new-password {
	background-color: #673AB7;
	color: white;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
	margin-right: auto;
}

.boton-set-new-password:hover {
	background-color: #7842d6;
	cursor: pointer;
}

.mensajes{
	text-align: center;
	font-size: 20px;
}